.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.tabButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-right: 100px;

}
